# 모듈 로딩

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from datetime import datetime, timedelta

# Date 형식 데이터 다루기

In [ ]:
# 현재 시간 저장하기
today = datetime.now()

In [ ]:
today

datetime.datetime(2020, 11, 25, 21, 26, 7, 894686)

In [ ]:
today.year

2020

In [ ]:
today.month

11

In [ ]:
today.day

25

In [ ]:
today.microsecond

894686

In [ ]:
# 현재 날짜에 일(day) 기준으로 더하기
today + timedelta(days = 10)

datetime.datetime(2020, 12, 5, 21, 26, 7, 894686)

In [ ]:
# 현재 날짜에 주(week) 기준으로 더하기
today + timedelta(weeks = 3)

datetime.datetime(2020, 12, 16, 21, 26, 7, 894686)

In [ ]:
# 월 기준으로는 더할 수 없음
today + timedelta(months = 2)

TypeError: 'months' is an invalid keyword argument for __new__()

In [ ]:
# Text 타입으로 저장된 날짜 데이터 만들기
data = pd.DataFrame({'date': ['11/1/2020', '11/2/2020','11/3/2020'], 'value': [10,20,30] })

In [ ]:
# 데이터 타입 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
# Text 타입(Object)를 날짜 형식(Datetime)으로 변환
data['date']  = pd.to_datetime(data['date'])

In [ ]:
# 데이터 타입 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [ ]:
# 첫째줄의 데이트 컬럼에서 day만 추출해보기
data['date'].loc[0].day

1

In [ ]:
# 대쉬로 나누어지고 시,분,초가 추가된 text 타입 날짜 데이터 만들기
data = pd.DataFrame({'date': ['11-1-2020 1:11:11', '11-2-2020 2:11:11', '11-3-2020 3:11:11'], 'value': [10,20,30] })

In [ ]:
data

                date  value
0  11-1-2020 1:11:11     10
1  11-2-2020 2:11:11     20
2  11-3-2020 3:11:11     30

In [ ]:
# 데이터 타입 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
# Text 타입(Object)를 날짜 형식(Datetime)으로 변환
data['date'] = pd.to_datetime(data['date'])

In [ ]:
# 데이터 타입 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [ ]:
# 첫째줄의 데이트 컬럼에서 second만 추출해보기
data['date'].loc[0].second

11

In [ ]:
# Pandas가 제대로 인식하지 못하는 배열로 날짜 데이터 만들기
data = pd.DataFrame({'date': ['10-11-10','10-11-11','10-11-12'], 'value': [10,20,30] })

### Format에 들어가는 알파벳은 아래 링크에서 참고
### https://docs.python.org/3.2/library/time.html

In [ ]:
# 연,월,일 순서를 지정해주어서 제대로 된 형태로 변환하기
pd.to_datetime(data['date'], format = '%y-%m-%d')

0   2010-11-10
1   2010-11-11
2   2010-11-12
Name: date, dtype: datetime64[ns]

# 실제 데이터로 Date 형태 다뤄보기

In [ ]:
# 데이터 로딩
data = pd.read_excel('Superstore.xls')

In [ ]:
# 데이터 확인
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
# 필요한 컬럼 필터링
data = data[['Order Date','Ship Date','Sales','Profit']]

In [ ]:
# 데이터 타입 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  9994 non-null   datetime64[ns]
 1   Ship Date   9994 non-null   datetime64[ns]
 2   Sales       9994 non-null   float64
 3   Profit      9994 non-null   float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 312.4 KB

In [ ]:
# Ship Date와 Order Date의 차이 컬럼으로 추가하기
data['gap'] = data['Ship Date'] - data['Order Date']

In [ ]:
data

     Order Date  Ship Date     Sales    Profit    gap
0    2016-11-08 2016-11-11  261.9600   41.9136 3 days
1    2016-11-08 2016-11-11  731.9400  219.5820 3 days
2    2016-06-12 2016-06-16   14.6200    6.8714 4 days
3    2015-10-11 2015-10-18  957.5775 -383.0310 7 days
4    2015-10-11 2015-10-18   22.3680    2.5164 7 days
...         ...        ...       ...       ...    ...
9989 2014-01-21 2014-01-23   25.2480    4.1028 2 days
9990 2017-02-26 2017-03-03   91.9600   15.6332 5 days
9991 2017-02-26 2017-03-03  258.5760   19.3932 5 days
9992 2017-02-26 2017-03-03   29.6000   13.3200 5 days
9993 2017-05-04 2017-05-09  243.1600   72.9480 5 days

[9994 rows x 5 columns]

# Linear Regression에 Time 데이터 적용하기

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X = data[['Profit','gap']]
y = data['Sales']

In [ ]:
# 데이터 타입 확인: gap은 Timedelta 타입
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Profit  9994 non-null   float64
 1   gap     9994 non-null   timedelta64[ns]
dtypes: float64(1), timedelta64[ns](1)
memory usage: 156.3 KB

In [ ]:
# 숫자 뒤에 days가 붙어있는 형태
X

        Profit    gap
0      41.9136 3 days
1     219.5820 3 days
2       6.8714 4 days
3    -383.0310 7 days
4       2.5164 7 days
...        ...    ...
9989    4.1028 2 days
9990   15.6332 5 days
9991   19.3932 5 days
9992   13.3200 5 days
9993   72.9480 5 days

[9994 rows x 2 columns]

In [ ]:
# gap 컬럼의 형태 때문에 에러 발생
model = LinearRegression()
model.fit(X, y)

TypeError: invalid type promotion

In [ ]:
# gap 컬럼에서 숫자부분만 추출하기
X['gap'] = X['gap'].apply(lambda x: x.days)

C:\Users\Sean\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Days가 제외되고 숫자만 남은것을 볼 수 있음
X

        Profit  gap
0      41.9136    3
1     219.5820    3
2       6.8714    4
3    -383.0310    7
4       2.5164    7
...        ...  ...
9989    4.1028    2
9990   15.6332    5
9991   19.3932    5
9992   13.3200    5
9993   72.9480    5

[9994 rows x 2 columns]

In [ ]:
# 에러 없이 모델링 완성
model.fit(X, y)

LinearRegression()

# Unix Timestamp 형태로 바꿔보기

In [ ]:
data = pd.read_excel('Superstore.xls')

In [ ]:
data = data[['Order Date','Ship Date','Sales','Profit']]

In [ ]:
# Scientific 형태로 보이는 것을 일반 숫자 형태로 보이도록 옵션 조정 (반드시 해줄 필요 없음)
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [ ]:
# Datetime을 Unix Tamestamp로 변환
data['Order Date'] = pd.to_numeric(data['Order Date']) / 10**9
data['Ship Date'] = pd.to_numeric(data['Ship Date']) / 10**9

In [ ]:
# Ship Date와 Order Date의 차이 컬럼으로 추가하기
data['gap'] = data['Ship Date'] - data['Order Date']

In [ ]:
data.head()

   Order Date  Ship Date  Sales  Profit    gap
0  1478563200 1478822400    262      42 259200
1  1478563200 1478822400    732     220 259200
2  1465689600 1466035200     15       7 345600
3  1444521600 1445126400    958    -383 604800
4  1444521600 1445126400     22       3 604800

In [ ]:
X = data[['Profit','gap']]
y = data['Sales']

In [ ]:
# Unix Timestamp도 에러 없이 모델링 가능
model = LinearRegression()
model.fit(X, y)

LinearRegression()