In [ ]:
# https://velog.io/@vvakki_/%EB%9E%9C%EB%8D%A4-%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8%EC%97%90%EC%84%9C%EC%9D%98-%EB%B3%80%EC%88%98-%EC%A4%91%EC%9A%94%EB%8F%84Variable-Importance-3%EA%B0%80%EC%A7%80
# https://www.tensorflow.org/tutorials/keras/regression?hl=ko
# https://hororolol.tistory.com/208
# https://www.google.com/search?q=leet+code&rlz=1C1CHBD_koKR921KR921&oq=leet+code&aqs=chrome..69i57j0i10i512l9.4242j0j7&sourceid=chrome&ie=UTF-8
# https://hleecaster.com/ml-random-forest-concept/
# https://wooono.tistory.com/115
# https://bkshin.tistory.com/entry/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D-4-%EA%B2%B0%EC%A0%95-%ED%8A%B8%EB%A6%ACDecision-Tree

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
mem_data_path = '/content/drive/MyDrive/개인 연구/강의 수강/(패스트 캠퍼스) 데이터 분석/Ch6 Random Forest/member.csv'
tran_data_path = '/content/drive/MyDrive/개인 연구/강의 수강/(패스트 캠퍼스) 데이터 분석/Ch6 Random Forest/transaction.csv'

mem = pd.read_csv(mem_data_path)
tran = pd.read_csv(tran_data_path)

In [ ]:
mem.head()

       id  recency   zip_code  is_referral channel  conversion
0  906145       10  Surburban            0   Phone           0
1  184478        6      Rural            1     Web           0
2  394235        7  Surburban            1     Web           0
3  130152        9      Rural            1     Web           0
4  940352        2      Urban            0     Web           0

In [ ]:
mem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64000 entries, 0 to 63999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           64000 non-null  int64
 1   recency      64000 non-null  int64
 2   zip_code     64000 non-null  object
 3   is_referral  64000 non-null  int64
 4   channel      64000 non-null  object
 5   conversion   64000 non-null  int64
dtypes: int64(4), object(2)
memory usage: 2.9+ MB

In [ ]:
mem.describe()

                  id       recency   is_referral    conversion
count   64000.000000  64000.000000  64000.000000  64000.000000
mean   550694.137797      5.763734      0.502250      0.146781
std    259105.689773      3.507592      0.499999      0.353890
min    100001.000000      1.000000      0.000000      0.000000
25%    326772.000000      2.000000      0.000000      0.000000
50%    551300.000000      6.000000      1.000000      0.000000
75%    774914.500000      9.000000      1.000000      0.000000
max    999997.000000     12.000000      1.000000      1.000000

In [ ]:
tran.head()

       id  num_item  total_amount
0  906145         5         34000
1  906145         1         27000
2  906145         4         33000
3  184478         4         29000
4  394235         4         33000

In [ ]:
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196836 entries, 0 to 196835
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            196836 non-null  int64
 1   num_item      196836 non-null  int64
 2   total_amount  196836 non-null  int64
dtypes: int64(3)
memory usage: 4.5 MB

In [ ]:
tran.describe()

                  id       num_item   total_amount
count  196836.000000  196836.000000  196836.000000
mean   550557.552932       3.078365   21837.102969
std    259254.795613       1.478408    8218.005565
min    100001.000000       1.000000    8000.000000
25%    326719.000000       2.000000   15000.000000
50%    550918.000000       3.000000   22000.000000
75%    774916.000000       4.000000   29000.000000
max    999997.000000       6.000000   38000.000000

아이템별 평균가격 추가

In [ ]:
tran['avg_price'] = tran['total_amount']/tran['num_item']

In [ ]:
tran    # 같은 ID가 여러 개 있는 것을 확인할 수 있음

            id  num_item  total_amount     avg_price
0       906145         5         34000   6800.000000
1       906145         1         27000  27000.000000
2       906145         4         33000   8250.000000
3       184478         4         29000   7250.000000
4       394235         4         33000   8250.000000
...        ...       ...           ...           ...
196831  536246         5         24000   4800.000000
196832  927617         5         26000   5200.000000
196833  927617         3         22000   7333.333333
196834  927617         3         18000   6000.000000
196835  927617         3         20000   6666.666667

[196836 rows x 4 columns]

데이터 합치기

In [ ]:
# Groupby를 활용하여 id별 1줄로 데이터 요약
tran_mean = tran.groupby('id').mean()

In [ ]:
# ID별 거래 건수 확인
tran_cnt = tran['id'].value_counts()

In [ ]:
# concat으로 두 데이터 결합
tran_df = pd.concat([tran_mean, tran_cnt], axis = 1)

In [ ]:
# Column 이름 변경
tran_df.columns = ['num_item', 'total_amount', 'avg_price', 'count']

In [ ]:
tran_df

        num_item  total_amount     avg_price  count
100001  3.500000  26000.000000   7500.000000      2
100008  5.000000  26000.000000   5200.000000      1
100032  2.666667  20666.666667   9366.666667      3
100036  3.000000  25800.000000  13273.333333      5
100070  3.250000  21250.000000   8537.500000      4
...          ...           ...           ...    ...
999932  5.000000  32000.000000   6400.000000      1
999981  2.000000  22750.000000  12875.000000      4
999990  3.000000  28000.000000  10388.888889      3
999995  2.000000  27000.000000  13500.000000      1
999997  2.000000  13000.000000   6500.000000      1

[64000 rows x 4 columns]

In [ ]:
# Join을 사용하기 위해, ID를 인덱스로 지정
mem.set_index('id', inplace=True)

In [ ]:
mem

        recency   zip_code  is_referral       channel  conversion
id
906145       10  Surburban            0         Phone           0
184478        6      Rural            1           Web           0
394235        7  Surburban            1           Web           0
130152        9      Rural            1           Web           0
940352        2      Urban            0           Web           0
...         ...        ...          ...           ...         ...
838295       10      Urban            0           Web           0
547316        5      Urban            1         Phone           0
131575        6      Urban            1         Phone           0
603659        1  Surburban            1  Multichannel           0
254229        1  Surburban            0           Web           0

[64000 rows x 5 columns]

In [ ]:
# Join으로 데이터 합치기
data = mem.join(tran_df)

In [ ]:
data

        recency   zip_code  is_referral  ...  total_amount     avg_price  count
id                                       ...
906145       10  Surburban            0  ...  31333.333333  14016.666667      3
184478        6      Rural            1  ...  29000.000000   7250.000000      1
394235        7  Surburban            1  ...  20500.000000   5125.000000      2
130152        9      Rural            1  ...  20750.000000  14875.000000      4
940352        2      Urban            0  ...  31000.000000  10333.333333      1
...         ...        ...          ...  ...           ...           ...    ...
838295       10      Urban            0  ...  26000.000000   8012.500000      4
547316        5      Urban            1  ...  17800.000000  11300.000000      5
131575        6      Urban            1  ...  30500.000000   7833.333333      2
603659        1  Surburban            1  ...  21600.000000   7583.333333      5
254229        1  Surburban            0  ...  24400.000000   9280.000000      5

[64000 rows x 9 columns]

Missing Value 확인하기

In [ ]:
data.isna().sum() / len(data)

recency         0.0
zip_code        0.0
is_referral     0.0
channel         0.0
conversion      0.0
num_item        0.0
total_amount    0.0
avg_price       0.0
count           0.0
dtype: float64

카테고리 데이터 처리

In [ ]:
data['zip_code'].nunique()

3

In [ ]:
data['zip_code'].unique()

array(['Surburban', 'Rural', 'Urban'], dtype=object)

In [ ]:
data['channel'].nunique()

3

In [ ]:
data['channel'].unique()

array(['Phone', 'Web', 'Multichannel'], dtype=object)

In [ ]:
data['channel'].nunique()

3

In [ ]:
data = pd.get_dummies(data, columns=['zip_code', 'channel'], drop_first=True)

In [ ]:
data

        recency  is_referral  ...  channel_Phone  channel_Web
id                            ...
906145       10            0  ...              1            0
184478        6            1  ...              0            1
394235        7            1  ...              0            1
130152        9            1  ...              0            1
940352        2            0  ...              0            1
...         ...          ...  ...            ...          ...
838295       10            0  ...              0            1
547316        5            1  ...              1            0
131575        6            1  ...              1            0
603659        1            1  ...              0            0
254229        1            0  ...              0            1

[64000 rows x 11 columns]